<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container">
    <form action="/members/new" method="post"> // input에서 값을 넣고 등록을 누르면 action의 URL로 post방식으로 넘겨줌
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" placeholder="이름을 입력하세요"> // 옆에 name이 서버로 넘어올 때 key가 됨.
                                                                                  // "name"을 보고 MemberForm에 name에 입력값을 넣어줌
        </div>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->

</body>
</html>
